
<div class="logo">
    <a routerLink="./" class="simple-text logo-mini">
      <div class="logo-img">
          <img style="border-radius: 40px" src="./assets/img/code.png"/>
      </div>
    </a>
    <a  routerLink="./" class="simple-text logo-normal">
        BoltCode
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
