<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">
        <div class="card-header">
          <h5 class="card-title">Now UI Dashboard PRO Angular</h5>
            <p class="category">Are you looking for more components? Please check our Premium Version of Now UI Dashboard PRO Angular.</p>
        </div>
        <div class="card-body">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>
              </form>

        </div>
      </div>
    </div>
  </div>
</div>
<style>
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}



</style>