<!-- <div class="card card-nav-tabs">
    <div class="card-header card-header-warning">
      Featured
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <!-- <mat-grid-tile> 
      <div>
          <!-- <mat-card class="example-card">
              <mat-card-header class="">
                <div mat-card-avatar class="example-header-image">
                <img [src]="posting.imageURL">
                </div>
                <!-- <mat-card-title class="">{{posting.title}}</mat-card-title>
                <mat-card-subtitle><h4>DUE: </h4>{{posting.date | date:'short':'UTC+3'}}</mat-card-subtitle> 
          
              </mat-card-header>
          
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
              <mat-card-content>
                <p>
          {{posting.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button  style="background:#363e7a;">START</button>
                 <!-- <button mat-button  style="color:#a13830;">DELETE</button> -->
                <!-- <button class="float-right mr-4" mat-fab style="background:green; height:125% !important;"color="primary"> {{posting.reward | currency:'CAD'}}</button> -->
                <!-- <button mat-button>SHARE</button> 
              </mat-card-actions>
            </mat-card>
          </div> -->
<div class="card mb-4 ml-1 mr-2 pl-1 pt-1" style="max-width: 48% ;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="posting.imageURL"style="object-fit: cover;">
             <button type="button" mat-raised-button class=" w-100 mt-1 btn btn-secondary" style="background:blue;">VIEW PROJECT</button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{posting.title}}</h5>
        <p class="card-text">{{posting.description}}</p>
        <p><b class="float-right" >Reward: <span style="color:green;">{{posting.reward  | currency:'CAD'}}</span></b></p>
                <p><b class="float-left " >Company: <span style="color:darkblueY;">{{posting.companyName}}</span></b></p>
        <!-- <p class="card-text"><small class="text-muted">{{posting.date | date:'short':'UTC+3'}}</small></p> -->
      </div>
    </div>
  </div>
</div>


<style>
  .montserrat {
    font-family: Montserrat;
  }
.example-card {
  background:white;
  min-width:20em;
  max-width: 80vw !important;
   /* margin-bottom:2.5vw !important; */
   margin:30px !important;
   box-shadow: 10px 10px #383737;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .example-card {
    min-width:17em !important;
/*     
    width:85vw !important;
    min-width:70vw !important; */
  }
}</style>