<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>
<script type="text/javascript" src="../config.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />

<div class="body d-flex justify-content-center">
  <div class="col-md-6 align-items-center justify-content-center row text-center">
    <div class="card justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Welcome back!</h5>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="emailInput" placeholder="Username or email" #userEmail required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" #userPassword required>
                </div>
            </form>        
            <div class="btn btn-primary" id="loginButton" (click)="authService.login(userEmail.value, userPassword.value)">Log in</div>
        </div>
        <span>Don't have an account? <a href="/">Sign up.</a></span>
    </div>
  </div>
</div>

<style>
  .body {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #292929;
  }
  .card {
      width:60%; 
      height:50%; 
      border-radius: 25px;
  }
  .card-body {
      margin-top: 10px;
  }
  .card-title {
      font-weight: bold;
  }
  .form-group {
      margin-top: 20px;
      color: #FF3636;
  }
</style>